@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/Roboto-Regular.ttf");
}

* {
  font-family: "RobotoMono", monospace;
}

body {
  background-color: #222;
  font-size: 2rem;
  font-family: Oswald;
  color: #fff;
  margin: 30px;
}
